#! /bin/bash

# Function to controll xampp without navigating on the path
function xampp {
  case $1 in
    start)
      sudo service mysql stop
      sudo service nginx stop
      sudo /opt/lampp/xampp start
      ;;
    stop)
      sudo service mysql stop
      sudo service nginx stop
      sudo /opt/lampp/xampp stop
      ;;
    restart)
      sudo /opt/lampp/xampp restart
      ;;
    *)
      echo "Usage: xampp:start|stop|restart"
      ;;
  esac
}


# Function to update the system with ease (ubuntu)
function update {
  sudo apt update && sudo apt upgrade -y
  echo "\nSystem Updated Successfully!\n"
}


# Displays information about GNU/Linux system
function system_info {
       echo "### OS information ###"
       lsb_release -a

       echo
       echo "### Processor information ###"
       processor=`grep -wc "processor" /proc/cpuinfo`
       model=`grep -w "model name" /proc/cpuinfo  | awk -F: '{print $2}'`
       echo "Processor = $processor"
       echo "Model     = $model"

       echo
       echo "### Memory information ###"
       total=`grep -w "MemTotal" /proc/meminfo | awk '{print $2}'`
       free=`grep -w "MemFree" /proc/meminfo | awk '{print $2}'`
       echo "Total memory: $total kB"
       echo "Free memory : $free kB"
 }

 # Create a new directory and enter it
function mkd() {
    mkdir -p "$@" && cd "$_";
}

# Search file or directory from current directory
function search {
    find . -name $1
}