[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[1af17469-852b-444e-b89d-448cc24c2658]
row=0
col=0

[0072-437A]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/wardvisual]
row=4
col=0

