[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/wardvisual/Desktop/arch-linux-hd.jpg]
row=2
col=0

[E836B6D836B6A6CA]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=0
col=1

[/home/wardvisual]
row=1
col=1

